<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<item>
<title>[COLOR blue]Coletânea [/COLOR][COLOR gold] Desfile de Sucessos 2000 [/COLOR] CDs Completos</title>
<thumbnail>https://imgur.com/1owsgGM.jpg</thumbnail>
<fanart>https://i.imgur.com/HFdq9Bf.jpg</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/7PlusREPO/duffyou-123/refs/heads/master/duffyou/RSA/Desfile.de.Sucessos.2000.xml</externallink>
</item>

<item>
<title>[COLOR blue]Coletânea [/COLOR][COLOR gold] Boleros en Ingles (Românticas Internacionais)[/COLOR] CDs Completos</title>
<thumbnail>https://imgur.com/KKL3twb.jpg</thumbnail>
<fanart>https://i.imgur.com/HFdq9Bf.jpg</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/7PlusREPO/duffyou-123/refs/heads/master/duffyou/RSA/Boleros.en.Ingles.xml</externallink>
</item>

<item>
<title>[COLOR blue]Coletânea [/COLOR][COLOR gold] Malhação Internacional[/COLOR] CDs Completos</title>
<thumbnail>https://imgur.com/DgKrzNW.jpg</thumbnail>
<fanart>https://i.imgur.com/HFdq9Bf.jpg</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/7PlusREPO/duffyou-123/refs/heads/master/duffyou/RSA/Coracoes.a.Mil.7.Internacional.xml</externallink>
</item>

<item>
<title>[COLOR blue]Coletânea [/COLOR][COLOR gold] Flashback Dance Anos 90[/COLOR] CDs Completos</title>
<thumbnail>https://imgur.com/6D6BZsj.jpg</thumbnail>
<fanart>https://i.imgur.com/HFdq9Bf.jpg</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/7PlusREPO/duffyou-123/refs/heads/master/duffyou/RSA/Flashback.Dance.Anos.xml</externallink>
</item>

<item>
<title>[COLOR blue]Coletânea [/COLOR][COLOR gold] O Melhor Internacional de Filmes[/COLOR] CDs Completos</title>
<thumbnail>https://imgur.com/qvpgu6S.jpg</thumbnail>
<fanart>https://i.imgur.com/HFdq9Bf.jpg</fanart>
<link>http://ignoreme</link>
<externallink>https://github.com/7PlusREPO/duffyou-123/raw/refs/heads/master/duffyou/RSA/O.Melhor.Internacional.de.Filmes.xml</externallink>
</item>

<item>
<title>[COLOR blue]Coletânea [/COLOR][COLOR gold] Billboard Singles[/COLOR] CDs Completos</title>
<thumbnail>https://i.imgur.com/77BegyU.png</thumbnail>
<fanart>https://i.imgur.com/HFdq9Bf.jpg</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/7PlusREPO/duffyou-123/master/duffyou/RSA/Billboard.Singles.xml</externallink>
</item>

<item>
<title>[COLOR blue]Coletânea [/COLOR][COLOR gold] Momentos Inesquecíveis Internacional[/COLOR] CDs Completos</title>
<thumbnail>https://i.imgur.com/Vu9ovB5.png</thumbnail>
<fanart>https://i.imgur.com/HFdq9Bf.jpg</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/7PlusREPO/duffyou-123/master/duffyou/RSA/Momentos.Inesquec%C3%ADveis.Internacional.xml</externallink>
</item>

<item>
<title>[COLOR blue]Coletânea [/COLOR][COLOR gold] Internacionais Lentas[/COLOR] CDs Completos</title>
<thumbnail>https://i.imgur.com/UEKrETj.png</thumbnail>
<fanart>https://i.imgur.com/HFdq9Bf.jpg</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/7PlusREPO/duffyou-123/master/duffyou/RSA/Internacionais.Lentas.xml</externallink>
</item>

<item>
<title>[COLOR blue]Coletânea [/COLOR][COLOR gold] Sucessos do Rock Internacional[/COLOR] CDs Completos</title>
<thumbnail>https://i.imgur.com/eGoNYNc.png</thumbnail>
<fanart>https://i.imgur.com/HFdq9Bf.jpg</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/7PlusREPO/duffyou-123/master/duffyou/RSA/Sucessos.do.Rock.Internacional.xml</externallink>
</item>

<item>
<title>[COLOR blue]Coletânea [/COLOR][COLOR gold] Os Maiores Sucessos dos Anos 90 Internacional[/COLOR] CDs Completos</title>
<thumbnail>https://i.imgur.com/OFhroSN.png</thumbnail>
<fanart>https://i.imgur.com/HFdq9Bf.jpg</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/7PlusREPO/duffyou-123/master/duffyou/RSA/Os.Maiores.Sucessos.dos.Anos.90.Internacional.xml</externallink>
</item>

<item>
<title>[COLOR blue]Coletânea [/COLOR][COLOR gold] Os Maiores Sucessos dos Anos 80 Internacional[/COLOR] CDs Completos</title>
<thumbnail>https://i.imgur.com/JB5ksyk.png</thumbnail>
<fanart>https://i.imgur.com/HFdq9Bf.jpg</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/7PlusREPO/duffyou-123/master/duffyou/RSA/Os.Maiores.Sucessos.dos.Anos.80.Internacional.xml</externallink>
</item>

<item>
<title>[COLOR blue]Coletânea [/COLOR][COLOR gold] Lovy Metal[/COLOR] CDs Completos</title>
<thumbnail>https://i.imgur.com/awmO81x.png</thumbnail>
<fanart>https://i.imgur.com/HFdq9Bf.jpg</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/7PlusREPO/duffyou-123/master/duffyou/RSA/Lovy.Metal.xml</externallink>
</item>

<item>
<title>[COLOR blue]Coletânea [/COLOR][COLOR gold] Corações a Mil Internacional[/COLOR] CDs Completos</title>
<thumbnail>https://i.imgur.com/1sVmBaO.png</thumbnail>
<fanart>https://i.imgur.com/HFdq9Bf.jpg</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/7PlusREPO/duffyou-123/master/duffyou/RSA/Coracoes.A.Mil.Internacional.xml</externallink>
</item>

<item>
<title>[COLOR blue]Coletânea [/COLOR][COLOR gold] Rock Ballads[/COLOR] CDs Completos</title>
<thumbnail>https://i.imgur.com/hdQEWgJ.png</thumbnail>
<fanart>https://i.imgur.com/HFdq9Bf.jpg</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/7PlusREPO/duffyou-123/master/duffyou/RSA/Rock.Ballads.xml</externallink>
</item>
