<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<item>
<title>[COLOR blue]Corações a Mil[/COLOR][COLOR gold] Internacional[/COLOR] CDs Completos</title>
<thumbnail>https://i.imgur.com/HjuB2qP.png</thumbnail>
<fanart>https://i.imgur.com/HFdq9Bf.jpg</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/7PlusREPO/duffyou-123/master/duffyou/RSA/Coracoes.A.Mil.Internacional.xml</externallink>
</item>

<item>
<title>[COLOR blue]Rock[/COLOR][COLOR gold] Ballads[/COLOR] CDs Completos</title>
<thumbnail>https://i.imgur.com/HjuB2qP.png</thumbnail>
<fanart>https://i.imgur.com/HFdq9Bf.jpg</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/7PlusREPO/duffyou-123/master/duffyou/RSA/Rock.Ballads.xml</externallink>
</item>
