<?xml version="1.0" encoding="UTF-8" standalone="yes"?>


<item>
<title>[COLOR blue]TOP ESPACIAL [/COLOR][COLOR gold][/COLOR] (2024) [COLOR lime] PORT[/COLOR][COLOR red]UGAL[/COLOR]</title>
<thumbnail>https://i.imgur.com/DUWXzPD.png</thumbnail>
<fanart>https://i.imgur.com/HFdq9Bf.jpg</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/7PlusREPO/duffyou-123/master/duffyou/Espacial.Musica/TOP.ESPACIAL.xml</externallink>
</item>
