<?xml version="1.0" encoding="UTF-8" standalone="yes"?>


<item>
<title>[COLOR blue]Coletânea [/COLOR][COLOR gold] Internacionais Lentas[/COLOR] CDs Completos</title>
<thumbnail>https://i.imgur.com/DUWXzPD.png</thumbnail>
<fanart>https://i.imgur.com/HFdq9Bf.jpg</fanart>
<link>http://ignoreme</link>
<externallink>https://</externallink>
</item>
